#titulo {
    text-align: center;
    color: darkblue;
}

#parrafo {
    color: blue
}

#banner {
    text-align: left;
}

#pie {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    background-color: skyblue;
}

#form_login, #form_logout {
    position: absolute;
    right: 50px;
    background-color: skyblue;
}

#menu {
    text-align: center;
    font-size: x-large;
    background-color: skyblue;
}

#form_css, #form_titulo, #form_municipio {
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #666666;
    width: 500px;
}