{% load static %}

<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8" />
    <title>MiTiempo</title>
    <link rel="stylesheet" href="http://127.0.0.1:8000/css" %}">
    <link rel="shortcut icon" type="image/ico" href={% static "favicon.ico" %}/>
  </head>

  <div id="cascara">
      <div id="body">
      <body>
        {% block content %}{{ content }}{% endblock %}


      </body>
      </div>
  </div>

  <div id = "banner">
          <img src="{% static "banner.png" %}"
               alt="banner.jpg"
               width="360"
               height="350">
        </div>
  <div id="letra_margen">
      MiTiempo
  </div>
  <div id="entrar_salir">
        {% if request.user.is_authenticated %}
        <div id="form_logout">
          Bienvenido {{ user.username }}!
          <form action="" method="POST">
              {% csrf_token %}
              <input type="hidden" name="form_type" value="logout">
              <input type="submit" value="Logout">
          </form>
        </div>
        {% else %}
          <div id="form_login">
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="login">
                Usuario:
                <input type="text" name="usuario"> <br>
                Contraseña:
                <input type="password" name="contraseña"> <br>

                <input type="submit" value="Login">
            </form>
          </div>
        {% endif %}
        </div>
  <div id="menu">
               <h2>Menú</h2>
               <a href="/" title="Inicio">Inicio</a> <br>
               <a href="/municipios" title="Todos">Todos</a> <br>
               <a href="/info" title="Info">Info</a> <br>
               <a href="?format=xml" title="XML">XML</a> <br>
  </div>
  <div id="pie">
      Esta aplicación utiliza datos proporcionados por la
      <a href="http://www.aemet.es/es/portada" title="AEMET"> AEMET</a> <br>
  </div>
</html>