{% load static %}

<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8" />
    <title>MI TIEMPO</title>
    <link rel="stylesheet" href="{% static "main.css" %}">
  </head>

  <body>
    <div id = "titulo">
      <h1>MI TIEMPO</h1>
    </div>

    <div id = "banner">
      <img src="static/images/banner.jpg"
           alt="banner.jpg"
           width="200"
           height="100">
    </div>

    <div id = "parrafo">
      Hola que tal
    </div>

    {% if request.user.is_authenticated %}
    Hola {{ user.username }} !!
      <form action="" method="POST">
      {% csrf_token %}
        <input type="submit" value="Logout">
     {% else %}
        <form action="" method="POST">
        {% csrf_token %}
        {{ form_in }}
         <input type="submit" value="Login">
         </form>
    {% endif %}


    {% block content %}{{ content }}{% endblock %}

    <div id="pie">
      Este es el pie de pagina
    </div>

  </body>
</html>