html {
    background-color: {{color_fondo}};
    font-size: {{tamaño_letra}};
    color: {{color_letra}}

}

#titulo {
    text-align: center;
    color: darkblue;
}

#parrafo {
    color: blue
}

#banner {
    text-align: left;
}

#pie {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: skyblue;
}

#form_login, #form_logout {
    position: absolute;
    right: 50px;
    background-color: skyblue;
}

#menu {
    text-align: center;
    font-size: x-large;
    background-color: skyblue;
}

#form_css, #form_titulo, #form_municipio, #form_filtro_temp {
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #666666;
    width: 500px;
}

#lista_usuarios {
    position: absolute;
    right: 50px;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #666666;
    width: 400px;
    background-color: #f8ee1b;
}

#tabla_info {
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    border: 5px solid #666666;
    width: 400px;
    background: rgba(203,96,179,1);
    background: -moz-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(168,0,119,0.84) 51%, rgba(193,70,161,0.78) 70%, rgba(219,54,164,0.68) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(203,96,179,1)), color-stop(51%, rgba(168,0,119,0.84)), color-stop(70%, rgba(193,70,161,0.78)), color-stop(100%, rgba(219,54,164,0.68)));
    background: -webkit-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(168,0,119,0.84) 51%, rgba(193,70,161,0.78) 70%, rgba(219,54,164,0.68) 100%);
    background: -o-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(168,0,119,0.84) 51%, rgba(193,70,161,0.78) 70%, rgba(219,54,164,0.68) 100%);
    background: -ms-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(168,0,119,0.84) 51%, rgba(193,70,161,0.78) 70%, rgba(219,54,164,0.68) 100%);
    background: linear-gradient(to bottom, rgba(203,96,179,1) 0%, rgba(168,0,119,0.84) 51%, rgba(193,70,161,0.78) 70%, rgba(219,54,164,0.68) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4', GradientType=0 );

}