{% extends "./base.html" %}

{% block content %}
    <div id="boton_precip">
        <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="boton">
        <input type="image" name="filtro" src="https://raw.githubusercontent.com/jcruzde/final-mitiempo/master/project_tiempo/app_tiempo/static/filtro.png" />
        </form>
    </div>

    {% if not title %}
    <h1>Municipios más comentados</h1>
    {% else %}
        <h1>{{title}}</h1>
    {% endif %}

    {% if municipios_comentados %}
        {% for municipio in municipios_comentados %}
            <div id="tabla_info">
                <h2>{{municipio.nombre}}</h2>

                <!-- Elección del icono -->
                {% if municipio.prob_precipitacion < 40 %}
                    <img src="https://raw.githubusercontent.com/jcruzde/final-mitiempo/master/project_tiempo/app_tiempo/static/tiempos/sol.ico"><br>
                {% else %}
                    {% if municipio.prob_precipitacion < 65 %}
                        <img src="https://raw.githubusercontent.com/jcruzde/final-mitiempo/master/project_tiempo/app_tiempo/static/tiempos/nubes.ico"><br>
                    {% else %}
                        <img src="https://raw.githubusercontent.com/jcruzde/final-mitiempo/master/project_tiempo/app_tiempo/static/tiempos/lluvia.ico"><br>
                    {% endif %}
                {% endif %}

                Comentarios: {{municipio.num_comentarios}} <br>
                Día: {{municipio.dia}}<br>
                ID: {{municipio.mun_id}}<br>
                Altitud: {{municipio.altitud}}<br>
                Latitud: {{municipio.latitud}}<br>
                Longitud: {{municipio.longitud}}<br>
                Temperatura máxima: {{municipio.maxima}}<br>
                Temperatura mínima: {{municipio.minima}}<br>
                Probabilidad de precipitación: {{municipio.prob_precipitacion}}<br>
                Descripción: {{municipio.descripcion}}<br>
                <a href = "/municipios/{{municipio.mun_id}}">Más información</a> <br>
                <a href="http://www.aemet.es/es/eltiempo/prediccion/municipios/{{municipio.url}}" >Su página de la AEMET</a> <br><br>
            </div>
        {% endfor %}
    {% endif %}

    {% if usuarios %}
        <div id = "lista_usuarios">
            <h2>Usuarios registrados</h2>
            {% for usuario in usuarios %}
                <a href="/{{usuario}}">{{ titulos|get_item:usuario }} - Usuario: {{usuario}} </a> <br>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
