{% extends "./base.html" %}

{% block content %}
    BOTÓN PRECIPITACIONES <br>

    {% if municipios_comentados|length < 10 %}
        No hay 10 municipios con comentarios. Muestro solo los que tengan comentarios.
        {% for municipio in municipios_comentados %}
            <div id="tabla_info">
                COMENTARIOS: {{municipio.num_comentarios}} <br>
                Nombre: {{municipio.nombre}}<br>
                ID: {{municipio.mun_id}}<br>
                Altitud: {{municipio.altitud}}<br>
                Latitud: {{municipio.latitud}}<br>
                Longitud: {{municipio.longitud}}<br>
                Temperatura máxima: {{municipio.maxima}}<br>
                Temperatura mínima: {{municipio.minima}}<br>
                Probabilidad de precipitación: {{municipio.prob_precipitacion}}<br>
                Descripción: {{municipio.descripcion}}<br>
                <a href = "http://127.0.0.1:8000/municipios/{{municipio.mun_id}}">Más información</a> <br>
                <a href="http://www.aemet.es/es/eltiempo/prediccion/municipios/{{municipio.url}}" >Su página de la AEMET</a> <br><br>
            </div>
        {% endfor %}
    {% else %}
        Tengo más de 10 municipios. Muestro los 10 con más comentarios.

        {% for municipio in municipios_comentados %}
            <div id="tabla_info">
                COMENTARIOS: {{municipio.num_comentarios}} <br>
                Nombre: {{municipio.nombre}}<br>
                ID: {{municipio.mun_id}}<br>
                Altitud: {{municipio.altitud}}<br>
                Latitud: {{municipio.latitud}}<br>
                Longitud: {{municipio.longitud}}<br>
                Temperatura máxima: {{municipio.maxima}}<br>
                Temperatura mínima: {{municipio.minima}}<br>
                Probabilidad de precipitación: {{municipio.prob_precipitacion}}<br>
                Descripción: {{municipio.descripcion}}<br>
                <a href = "http://127.0.0.1:8000/municipios/{{municipio.mun_id}}">Más información</a> <br>
                <a href="http://www.aemet.es/es/eltiempo/prediccion/municipios/{{municipio.url}}" >Su página de la AEMET</a> <br><br>
            </div>
        {% endfor %}

    {% endif %}

    {% if usuarios %}
        <div id = "lista_usuarios">
            {% for usuario in usuarios %}
                <a href="http://127.0.0.1:8000/{{usuario}}">{{ titulos|get_item:usuario }} - Usuario: {{usuario}} </a> <br>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}