{% extends "./base.html" %}

{% block content %}
    <p>Constará de un listado de poblaciones que han sido elegidas por algún usuario, y otro con enlaces a páginas de usuario </p>
    <p>1. Mostrar ́a un listado de los 10 municipios con m ́as comentarios. Si no  hubiera 10 municipios con comentarios, se mostrar ́an s ́olo los que tengan comentarios</p>
    <p>2. Tambi ́en se mostrar ́a un listado, en una columna lateral, con enlaces a las p ́aginas personales disponibles.</p>
    <p>3. Tambie ́ n se mostrar ́a un bot ́on, que al pulsarlo se ver ́an s ́olo los mu- nicipios con probabilidad de precipitacion mayor que cero.</p>
{% endblock %}