{% extends "./base.html" %}

{% block content %}

        {% if not municipio %}
            El municipio con este ID no está en mi base de datos.
        {% else %}
            <div id="tabla_info">
                Nombre: {{municipio.nombre}}<br>
                ID: {{municipio.mun_id}}<br>
                Altitud: {{municipio.altitud}}<br>
                Latitud: {{municipio.latitud}}<br>
                Longitud: {{municipio.longitud}}<br>
                Temperatura máxima: {{municipio.maxima}}<br>
                Temperatura mínima: {{municipio.minima}}<br>
                Probabilidad de precipitación: {{municipio.prob_precipitacion}}<br>
                Descripción: {{municipio.descripcion}}<br>
                <a href="http://www.aemet.es/es/eltiempo/prediccion/municipios/{{municipio.url}}" >Su página de la AEMET</a> <br><br>
            </div>

            Comentarios para este municipio: <br>
            <div id = "comentarios">
                {% for comentario in lista_comentarios %}
                    "{{comentario.comentario}}" - Comentado por {{comentario.usuario}} <br>
                {% endfor %}
            </div>

            {% if request.user.is_authenticated %}
                <br><br>Hola {{user.username}}!
                Añade algún comentario a este municipio
                <div id = "form_comentario">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="comentario">
                        Comentario: <input type="text" name="mensaje"> <br>
                        <input type="submit" value="Enviar"> <br>
                    </form>
                </div>
            {% endif %}
        {% endif %}

{% endblock %}