{% extends "./base.html" %}

{% block content %}

    Estos son los municipios del usuario {{path}} <br>
    {% for item in lista_municipios_user %}
            <div id="tabla_info">
                Nombre: {{item.municipio.nombre}}<br>
                ID: {{item.municipio.mun_id}}<br>
                Altitud: {{item.municipio.altitud}}<br>
                Latitud: {{item.municipio.latitud}}<br>
                Longitud: {{item.municipio.longitud}}<br>
                Temperatura máxima: {{item.municipio.maxima}}<br>
                Temperatura mínima: {{item.municipio.minima}}<br>
                Probabilidad de precipitación: {{item.municipio.prob_precipitacion}}<br>
                Descripción: {{item.municipio.descripcion}}<br>
                <a href="http://www.aemet.es/es/eltiempo/prediccion/municipios/{{item.municipio.url}}" >Su página de la AEMET</a> <br><br>
            </div>

            {% if request.user.is_authenticated %}
                {% ifequal user.username path %}
                    <div id = "form_quitar">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="form_type" value="quitar">
                            <input type="hidden" name="municipio" value="{{item.municipio.nombre}}">
                            <input type="submit" value="Quitar"> <br>
                        </form>
                    </div>
                {% endifequal %}
            {% endif %}
    {% endfor %}

    {% if request.user.is_authenticated %}
        {% ifequal user.username path %}
            <br><br> Puedes modificar tu pagina
                <div id="form_css">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="css">
                        Cambia tu estilo CSS <br>
                        Tamaño de letra: <input type="text" name="tamaño"> <br>
                        Color de letra: <input type="text" name="letra"> <br>
                        Color de fondo: <input type="text" name="fondo"> <br>
                        <input type="submit" value="Enviar"> <br>
                    </form>
                </div>

                <div id = "form_titulo">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="titulo">
                        Titulo de tu página personal <br>
                        Título: <input type="text" name="titulo"> <br>
                        <input type="submit" value="Enviar"> <br>
                    </form>
                </div>

                <div id="form_municipio">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="form_type" value="municipio">
                        Nuevo municipio <br>
                        Municipio: <input type="text" name="municipio"> <br>
                        <input type="submit" value="Enviar"> <br>
                    </form>
                </div>

                {{mensaje}}
        {% else %}
            <br><br> {{user.username}} está loggeado, pero no puede modificar los municipios de {{path}}
        {% endifequal %}
    {% endif %}

{% endblock %}